@use "../../../scss/" as *;

.site__person {
  @include flex(center, flex-start);
  flex-direction: column;

  &__title {
    width: 100%;
    height: 14vh;
    margin-top: 3rem;
    background: url(../../../assets/images/Danh_Tuong_Tam_Quoc.png) no-repeat;
    background-position: 50%;
    background-size: contain;
  }

  &__title__bg {
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 20rem;
    background: url(../../../assets/images/Footage.png) no-repeat;
    background-position: 100% 100%;
    background-size: cover;
  }

  &__battle {
    width: 120rem;
    position: absolute;
    z-index: 5;
    top: 14.25rem;
    left: 18rem;

    &__tab {
      @include flex(flex-start, space-between);
      width: 25%;

      .site__person__battle__tab__wrapper__item {
      }

      .site__person__battle__tab__swiper {
        display: none;

        .site__person__battle__swiper__wrapper {
          @include flex(center, center);
          flex-direction: column;
          width: auto;
          height: 28.5rem;
          overflow: hidden;
          margin-top: -2.9rem;
          padding-top: 2.5rem;
          background: url(../../../assets/images/Slide_Char.png) no-repeat;
          background-size: 100% 100%;

          .site__person__battle__swiper__item {
            margin: 15px auto 0;

            .swiper__slide__show {
              display: block;
              position: relative;
              width: auto;
              height: 85px;
              margin: 5px 0;
            }

            .active:before {
              content: "";
              position: absolute;
              width: 85px;
              height: 85px;
              z-index: 10;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              background: url(../../../assets/images/Avatar_Char.png) no-repeat;
              background-size: 100% 100%;
              margin: auto;
            }

            .swiper__slide__hidden {
              display: none;
            }
          }
        }
      }

      .site__person__active {
        display: block;
      }
    }
  }

  &__CV {
    &__bg {
      position: relative;
      z-index: 2;
      width: auto;
      height: 52rem;
      margin-top: -1.25rem;
      background-repeat: no-repeat;
      background-position: 100% 50%;
      background-size: contain;
    }

    &__bg_hidden {
      display: none;
    }

    &__description {
      width: 30rem;
      position: absolute;
      z-index: 5;
      display: flex;
      flex-direction: column;
      top: 11.5rem;
      right: 16rem;

      &__cv {
        text-align: center;

        &__name {
          width: auto;
          height: 10rem;
          margin-left: auto;
          margin-right: auto;
        }
      }

      &__introduction {
        margin-top: 3.75rem;
        font-family: $montserrat;
        font-size: 1rem;
        color: #7f181e;
        font-weight: 600;
      }

      &__skill {
        @include flex(center, center);
        gap: 1.25rem;
        margin-top: 1rem;

        img {
          width: 80px;
          height: 80px;
        }
      }

      &__video {
        content: "";
        background-color: #00000080;
        width: 400px;
        height: 220px;
        margin: 1rem auto;
        border: 2px #fff solid;
        box-shadow: -4px 0px #7f181e, 0px -4px #7f181e, 4px 0px #7f181e,
          0px 4px #7f181e;
      }
    }
  }

  &__CV__hidden {
    display: none;
  }
}
