@use "../../scss/" as *;

.header {
  height: $header-height;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  pointer-events: none;
  background-image: url(../../assets/images/BG_Menu.png);
  background-repeat: no-repeat;

  &__inner {
    @include flex(center, center);
    height: 100%;
  }

  &__nav {
    @include flex(center, space-between);

    li ~ li {
      margin-left: 2rem;
    }

    a {
      display: inline-block;
      padding: 0.75rem;
      text-transform: uppercase;
      position: relative;
      pointer-events: visible;

      &:hover {
        background-color: $main-color;
      }
    }
  }
}
