@use "../../../scss/" as *;

$size: 1.5rem;

.site__news {
  @include flex(center, flex-start);
  flex-direction: column;
  @include tablet {
    width: 100%;
    height: 100%;
    background: url(../../../assets/images/Backgroud/BG_Frame2.png) no-repeat;
    background-position: 100% 100%;
    background-size: cover;
  }

  &__title {
    width: 100%;
    height: 14vh;
    margin-top: 3rem;
    background: url(../../../assets/images/News.png) no-repeat;
    background-position: 50%;
    background-size: contain;
    @include tablet {
      width: 80%;
      height: 5rem;
      margin: 12rem auto 0;
    }
    @include mobile {
      width: 90%;
      margin: 5rem auto 0;
    }
  }

  &__center {
    margin-top: 1rem;
    @include flex(center, center);
    flex-direction: column;
    justify-items: center;
    width: 100%;

    &__tabs {
      @include flex(center, center);
      margin: 0 auto;
      @include tablet {
        @include flex(center, space-between);
        width: 85%;
      }

      &__item {
        width: 20%;
        height: auto;
      }

      li ~ li {
        margin-left: 2rem;
        @include mobile {
          margin-left: 0rem;
        }
      }
    }

    &__content {
      @include flex(flex-start, center);
      gap: 2rem;
      margin-top: 1.5rem;
      width: 100rem;
      height: auto;
      @include tablet {
        width: 100%;
        @include flex(center, center);
        flex-direction: column;
        gap: 4rem;
      }
      @include mobile {
        gap: 2rem;
      }

      &__swiper {
        width: 45rem;
        height: 25rem;
        border: 5px #99422f solid;
        box-shadow: 10px 10px #caa19d;
        overflow: hidden;

        @include tablet {
          width: 85%;
          height: auto;
        }

        img {
          width: 45rem;
          height: 25rem;

          @include tablet {
            width: 55rem;
            height: auto;
          }
        }
      }

      &__list {
        @include flex(flex-start, space-between);
        flex-direction: column;
        width: 45%;
        height: 25rem;
        @include tablet {
          width: 85%;
          height: 30rem;
        }
        @include mobile {
          height: 15rem;
        }

        &__title {
          width: 100%;
          height: 100%;

          .site__news__slide__in {
            @include flex(flex-start, center);
            gap: 4rem;
            font-family: $montserrat;
            font-size: 1.25rem;
            font-weight: 500;
            font-stretch: normal;
            line-height: 3.5rem;
            letter-spacing: 0;
            color: #555555;
            border-bottom: 1px solid #555555;
            cursor: pointer;

            @include tablet {
              @include flex(center, space-between);
              font-size: 2.5rem;
              line-height: 5rem;
            }
            @include mobile {
              font-size: 0.75rem;
              line-height: 2rem;
            }

            &__content {
              display: flex;
              align-items: center;
              width: 30rem;

              &__dot {
                width: 2rem;
                margin-right: 10px;

                @include tablet {
                  margin-right: 20px;
                }
                @include mobile {
                  margin-right: 1px;
                }
              }

              &__title {
                width: 25rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                @include mobile {
                  width: 10rem;
                }
              }
            }

            &__time {
              width: 8rem;
              text-align: center;
              overflow: hidden;
              color: #555555;

              @include tablet {
                width: 18rem;
                text-align: end;
              }
            }
          }
          li:hover,
          .site__news__slide__in:hover {
            color: #99422f;
            .site__news__slide__in__content {
              .site__news__slide__in__content__title {
                transform: translateY(-0.5rem);
              }
            }
            .site__news__slide__in__time {
              color: #99422f;
            }
          }
        }

        &__more-link {
          @include tablet {
            margin: 4rem auto 0;
          }
        }
      }
    }
  }
}
