@use "../../../scss/" as *;

$size: 1.5rem;

.site__news {
  @include flex(center, flex-start);
  flex-direction: column;

  &__title {
    width: 100%;
    height: 14vh;
    margin-top: 4rem;
    background: url(../../../assets/images/News.png) no-repeat;
    background-position: 50%;
    background-size: contain;
  }

  &__center {
    margin-top: 1rem;
    @include flex(center, center);
    flex-direction: column;
    justify-items: center;
    width: 100%;

    &__tabs {
      @include flex(center, center);
      margin: 0 auto;

      &__item {
        width: 20%;
        height: auto;
      }

      li ~ li {
        margin-left: 2rem;
      }
    }

    &__content {
      @include flex(flex-start, center);
      gap: 2rem;
      margin-top: 1.5rem;
      width: 100rem;
      height: auto;

      &__swiper {
        width: 45rem;
        height: 25rem;
        border: 5px #99422f solid;
        box-shadow: 10px 10px #caa19d;
        overflow: hidden;

        img {
          width: 45rem;
          height: 25rem;
        }
      }

      &__list {
        @include flex(flex-start, space-between);
        flex-direction: column;
        width: 45%;
        height: 25rem;

        &__title {
          width: 100%;
          height: auto;

          .site__news__slide__in {
            @include flex(flex-start, center);
            gap: 4rem;
            font-family: $montserrat;
            font-size: 1.25rem;
            font-weight: 500;
            font-stretch: normal;
            line-height: 3.5rem;
            letter-spacing: 0;
            color: #555555;
            border-bottom: 1px solid #555555;
            cursor: pointer;

            &__content {
              display: flex;
              align-items: center;
              width: 30rem;

              &__dot {
                width: 2rem;
                margin-right: 10px;
              }

              &__title {
                width: 25rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }

            &__time {
              width: 8rem;
              text-align: center;
              overflow: hidden;
              color: #555555;
            }
          }
          li:hover,
          .site__news__slide__in:hover {
            color: #99422f;
            .site__news__slide__in__content {
              .site__news__slide__in__content__title {
                transform: translateY(-.5rem);
              }
            }
            .site__news__slide__in__time {
              color: #99422f;
            }
          }
        }
      }
    }
  }
}
