@use "../../scss/" as *;

.section {
  height: 100%;
  // overflow: hidden;
  // visibility: hidden;
  // transition: visibility 1s ease;

  video {
    position: absolute;
    height: fit-content;
    left: 50%;
    transform: translate(-50%);
    @include tablet {
      display: none !important;
      opacity: 0 !important;
    }
    @include mobile {
      display: none !important;
      opacity: 0 !important;
    }
  }
  video::-webkit-media-controls-panel {
    @include tablet {
      display: none !important;
      opacity: 0 !important;
    }
    @include mobile {
      display: none !important;
      opacity: 0 !important;
    }
  }

  &.active {
    visibility: visible;
  }

  &.active &__content {
    transform: scale(1);
    opacity: 1;
    // transition-delay: 0.1s;
  }

  &__content {
    // position: relative;
    height: 100%;
    // transform: scale(3);
    // opacity: 0;
    // transition: transform 0.6s ease, opacity 0.5s ease;
  }
}
